*{
    /*
        La siguiente linea hace que tanto el padding, border sean tomados como el 100% del tamaño de la caja de un elemento
        box-sizing: border-box; 
        https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
    */
    
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}

.main-footer{
    margin: 20px;
}